body {
    background-color: #101010;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    justify-content: center;
}

.chesssquare {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    box-sizing: border-box;
}

.chesssquare:hover {
    /* box-shadow: inset 0 0 10px #f8a100; */
    box-shadow: inset 0 0 1px 5px orange;
}

.black {
    background-color: #769656;
}

.whitepiece {
    color: #e7bb5a;
}

.white {
    background-color: #eeeed2;
}

.on {
    background-color: #008bf5aa;
}

.supercon {
    display: flex;
    justify-content: center;
}

.subcon {
    width: calc(50px * 8);
    position: relative;
}

.top-ruler {
    color: #eeeeee;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.side-ruler {
    color: #eeeeee;
    position: absolute;
    top: 0;
    left: -20px;
}

.side-ruler p {
    height: 34px;
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
}

.turn {
    color: #eeeeee;
}

.timeline-but {
    margin: 1em;
}

.timeline-but button {
    width: 40px;
    color: white;
    /* height: 20px; */
    border: 2px solid #303030;
    border-radius: 10px;
    background-color: #ffffff00;
    padding: 0;
    font-size: 25px;
}

.timeline-but button:hover {
    background-color: #ffffff20;
}

.timeline-but button:active {
    background-color: #ffffff00;
}